
/* Your CSS Code here. */
.holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.c1{
    height: 100px;
    width: 150px;
    background-color: black;
}
.c3{
    height: 100px;
    width: 150px;
    background-color: blue;
}
.c2{
    height: 100px;
    width: 150px;
    background-color: pink;
}
.c4{
    height: 100px;
    width: 150px;
    background-color: pink;
}
.c5{
    height: 100px;
    width: 150px;
    background-color: pink;
}
.c6{
    height: 100px;
    width: 150px;
    background-color: pink;
}
.c7{
    height: 100px;
    width: 150px;
    background-color: pink;
}
.c8{
    height: 100px;
    width: 150px;
    background-color: pink;
}
.c9{
    height: 100px;
    width: 150px;
    background-color: pink;
}
.c10{
    height: 100px;
    width: 150px;
    background-color: pink;
}